html, body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.main-container {
  display: inline-block;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 800px;
  /* background-color: rgb(170, 17, 17); */
  border: #a312aa 1px solid;
  border-radius: 50px;
  box-shadow: 0 0 10px #a312aa, 0 0 10px #a312aa, 0 0 15px #a312aa, 
  0 0 15px #a312aa, 0 0 20px #a312aa, 0 0 20px #a312aa, 
  0 0 30px #a312aa;
  position: relative;
}

.main-inside-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.info-item {
  color: rgb(127, 25, 127);
  font-weight: bold;
  display: flex;
}
.top-left {
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 15px 0 5px 15px;
}
.bottom-buttons {
  display: flex;
  gap: 10px;
}
.center {
  margin: auto;
  
  color: rgb(255, 0, 255);
  
}


.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.results-table {
  width: 80%;
  border-collapse: separate;
  border-spacing: 10px;
  margin: 0 auto;
}

.results-table th,
.results-table td {
  padding: 15px;
  text-align: center;
  border: 1px solid #ddd;
}

.results-table th {
  border-bottom: 2px solid #ddd;
}
.question-container {
  width: 80%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00, 0 0 15px #00ff00, 
              0 0 20px #00ff00, 0 0 10px #00ff00, 0 0 20px #00ff00,
              0 0 10px #00ff00;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
}
.options-container {
  width: 80%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  border:rgb(255, 0, 255) 1px dashed;
  border-radius: 20px;

  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}
.options-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.options-row {
  display: flex;
  justify-content: space-between;
  position:relative;
  top: 0px;
  height: 45%;
  width :90%;
  gap: 10px;
}

.bottom {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: relative;
  gap: 10px;
  /* background-color: #d61414; */
  text-align: center;
}
Button {
  margin: 5px;
  
}
.App-header {
  background-color: #2d3428;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
